@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@600&display=swap");

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #000;
}

body {
	font-family: 'Bebas Neue', cursive;
}

.icon {
	float: right;
	padding: 20px 30px;
	line-height: 0%;
	margin-top: 0.5%;
	margin-right: 1%;
    
}

.icon:hover {
  opacity: 0.7;
  text-decoration: none!important;
}

.fab {
    text-decoration: none!important;
    color: #4267B2;
}



.logo {
	line-height: 60px;
	position: fixed;
	float: left;
	margin-left: -10px;
	margin-top: 11px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}

.logo:hover {
	opacity: 0.7;
}

nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
	z-index: 3;
	background-color: #000;
	height: 125px;
    top: 0;
}

nav ul {
	line-height: 60px;
	list-style: none;
	background: black;
	overflow: hidden;
	color: #fff;
	padding-top: 0px;
	text-align: center;
	margin-left: 7%;
	padding-right: 40px;
	max-height: 100%;
}

nav.black ul {
	background: #000;
}

nav ul li {
	display: inline-block;
	padding: 9px 40px;
	margin-top: 1%;
}


nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 1.5em;
    
}

nav ul li a:hover {
	text-decoration: none;
	color: #b08b1c;
}

.menu {
	font-family: 'Bebas Neue', cursive;
	
}

.menu-icon {
	line-height: 60px;
	width: 25%;
	background: #000;
	box-sizing: border-box;
	padding-top: 30px;
	cursor: pointer;
	color: #fff;
	display: none;

}

.fb-links{
    line-height: 60px;
	background: black;
	overflow: hidden;
	color: #fff;
	padding-top: 0px;
	text-align: center;
	margin-left: -2%;
    margin-top: 10%;
	padding-right: 40px;
	max-height: 100%;
	list-style-type: none;
	font-family: 'Bebas Neue', cursive;
}

.fb-links ul li a {
    text-decoration: none;
    color: white;
	list-style-type: none;
}

.fb-links ul li a:hover {
    text-decoration: none;
	color: #b08b1c;
}

p{
	font-size: 60px;
}

@media (max-width: 2400px){
	 .fb-links li{
        list-style-type: none;
    }

	.fb-links{
		padding-top: 1%;
	}

	p{
		font-size: 40px;
	}
}

@media(max-width: 1175px) {
	.icon {
		position: fixed;
		float: right;
		padding: 20px 30px;
		line-height: 60px;
		top: 0.75%;
		right: 1%;
	}
	
	.icon:hover {
        opacity: 0.7;
        text-decoration: none!important;
      }
      
      .fab {
        text-decoration: none!important;
          color: #4267B2;
      }
	
	
	.logo {
		line-height: 60px;
		position: fixed;
		float: left;
		left: -10px;
		top: 2px;
		color: #fff;
		font-weight: bold;
		font-size: 20px;
		letter-spacing: 2px;
	}

	nav ul {
		background: black;
		text-align: center;
		margin-left: 0%;
		display: none;
		overflow-y: scroll;
	}

  nav.black ul {
		background: #000;
  }

  nav ul li {
		box-sizing: border-box;
		width: 80%;
		padding: 24px;
		text-align: center;
		background-color: #b08b1c;
		margin-left: 15px;
  }

  nav ul li a {
	text-decoration: none;
	color: white;
}

  nav ul li a:hover {
	text-decoration: none;
	color: black;
}
	
	.menu {
		font-family: 'Bebas Neue', cursive;
		max-height: 100%;
		
	}
	

	.menu-icon {
		line-height: 60px;
		width: 25%;
		background: #000;
		box-sizing: border-box;
		padding-top: 30px;
		cursor: pointer;
		color: #fff;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

	}
	
	.showing {
			max-height: 30em;
			display: block;
			background-color: black;
		}

	.fb-links li{
        list-style-type: none;
    }

	.fb-links{
		padding-top: 5%;
	}

	p{
		font-size: 35px;
	}
}

@media (max-width: 768px) {

	nav ul {
		background: black;
		text-align: center;
		margin-left: 0%;
		display: none;
		overflow-y: scroll;
	}

	nav ul li {
		box-sizing: border-box;
		width: 70%;
		padding: 24px;
		text-align: center;
		background-color: #b08b1c;
		margin-left: 15px;
  }

  nav ul li a {
	text-decoration: none;
	color: white;
}

  nav ul li a:hover {
	text-decoration: none;
	color: black;
}

	.showing {
		max-height: 30em;
		display: block;
	}

    .fb-links li{
        list-style-type: none;
    }

	.fb-links{
		padding-top: 12%;
	}

	p{
		font-size: 30px;
	}

}



@media (max-width: 425px) {

	nav ul {
		background: black;
		text-align: center;
		margin-left: 0%;
		display: none;
		overflow-y: scroll;
	}

	nav ul li {
		box-sizing: border-box;
		width: 60%;
		padding: 24px;
		text-align: center;
		background-color: #b08b1c;
		margin-left: 15px;
  }

  nav ul li a {
	text-decoration: none;
	color: white;
}

  nav ul li a:hover {
	text-decoration: none;
	color: black;
}

	.showing {
		max-height: 30em;
		display: block;
	}

    .fb-links li{
        list-style-type: none;
    }

	.fb-links{
		padding-top: 25%;
	}

	p{
		font-size: 25px;
	}
}

@media (max-width: 375px) {

	.logo{
		margin-left: -25px;
	}

	.menu-icon{
		z-index: 9999;
	}

	nav ul {
		background: black;
		text-align: center;
		margin-left: 0%;
		display: none;
		overflow-y: scroll;
		
	}

	nav ul li {
		box-sizing: border-box;
		width: 50%;
		padding: 24px;
		text-align: center;
		background-color: #b08b1c;
		margin-left: 5px;
  }

  nav ul li a {
	text-decoration: none;
	color: white;
}

  nav ul li a:hover {
	text-decoration: none;
	color: black;
}

	.showing {
		max-height: 30em;
		display: block;
	}

    .fb-links li{
        list-style-type: none;
    }

	.fb-links{
		padding-top: 35%;
	}

	p{
		font-size: 25px;
	}

}